<div class="fl">
  <h1>CART</h1>
  <button
    mat-raised-button color="primary"
    *ngIf="!cartService.isEmptyCart(); else dis"
    (click)="cartService.removeAllProducts()"
  >Clear Cart
  </button>
  <button
    mat-raised-button color="basic"
    routerLink='order'
  >Order!
  </button>
  <h3>Total count:{{cartService.totalQuantity}}</h3>
  <h3 class="bot">Total price:{{cartService.totalSum}}$</h3>

  <router-outlet>

  </router-outlet>


  <mat-form-field appearance="outline">
    <mat-label>Sort by:</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="sort">
      <mat-option *ngFor="let key of sortKeys" [value]="key">
        {{key}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group class="radio" (change)="onChange()" aria-label="Select an option">
    <mat-radio-button [checked]="!sortType" value="false">from max to min</mat-radio-button>
    <mat-radio-button class="radio" [checked]="sortType" value="true">from min to max</mat-radio-button>
  </mat-radio-group>


  <div appHightlight appBordered *ngFor="let prod of cartService.uniqueProducts | orderBy:selectedValue:sortType"
       class="fl-item">
    <app-cart-item
      [product]="prod"
      [count]="prod.count"
      (addProduct)="onAdd(prod)"
      (removeProduct)="onRemove(prod)"
    ></app-cart-item>
    <button
      class="but"
      mat-raised-button color="secondary"
      (click)="cartService.removeOneTypeProducts(prod)"
    >Remove all "{{prod.name}}" items
    </button>
  </div>
</div>

<ng-template #dis>
  <button mat-raised-button disabled>Clear Cart</button>
</ng-template>
