
<fieldset [formGroup]="orderForm" >
    <input formControlName="firstName" placeholder="first name">
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
         class="alert alert-danger">first name required!!</div>
    <input formControlName="lastName" placeholder="last name">
    <input formControlName="email" placeholder="email">
    <div formArrayName="phones">
        <div *ngFor="let phone of phones.controls; index as i">
            <input [formControlName]="i" placeholder="phone:{{i}}">
            <button (click)="removePhone(i)">remove phone</button>
        </div>
    </div>
    <button (click)="addPhone()">add Phone</button>
    <input type="checkbox" formControlName="isPickUp">
    <textarea *ngIf="isPickUp" formControlName="deliveryAddress"  cols="30" rows="10" placeholder="delivery address"></textarea>

</fieldset>
